.mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.menu_item {
  font-family: "Inter", sans-serif;
  margin: 16px 0;
  color: #ffffff;
  font-size: 32px;
  line-height: 40px;
}

.language_item{
  margin-bottom: 3rem !important;
}

.language_dropdown{
  color: #ffffff;
  padding-top: 1rem;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}