.header_wrapper {
  border: 0px;

  .header_container {
    display: flex;
    position: relative;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    background-color: transparent;
    color: #000000;
    font-family: "Sora", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.025em;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;

    @media (min-width: 640px) {
      padding-top: 1.5rem; 
      padding-bottom: 1.5rem;
    }
  }

  .logo {
    font-family: "Sora", sans-serif;
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    @media (min-width: 640px) {
      width: 16rem;
    }
  }

  .navbar_content {
    display: none;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 640px) {
      display: flex;
    }
  }

  .nav_item {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .last_nav {
    margin-right: 2.5rem;
  }
}
