@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide {
  margin: 0 !important;
}

.brand-carousel > .slick-list {
  padding: 0 5rem;
  overflow-y: visible;
}

/* styling for carousel in teams section */
/* .teams-carousel.slick-slider {
  user-select: auto !important;
}
 */
.teams-carousel.slick-slider .slick-list .slick-track {
  display: flex;
  align-items: flex-end;
}

.teams-carousel > .slick-list > .slick-track > .slick-slide {
  transform: scale(0.7);
  transition: all 200ms ease-in;
}

/* .teams-carousel
  > .slick-list
  > .slick-track
  > .slick-slide:not(.slick-center)
  > div
  > div
  > .details {
  transform: scale(0);
} */

.teams-carousel > .slick-list > .slick-track > .slick-slide.slick-center {
  transform: scale(1);
}

.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}

/************************************************************/
/* Inter

/* inter-100 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/inter-v7-latin/inter-v7-latin-100.eot");
  src: local(""),
    url("/fonts/inter-v7-latin/inter-v7-latin-100.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-100.woff2") format("woff2"),
    url("/fonts/inter-v7-latin/inter-v7-latin-100.woff") format("woff"),
    url("/fonts/inter-v7-latin/inter-v7-latin-100.ttf") format("truetype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-100.svg#Inter") format("svg");
}
/* inter-200 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/inter-v7-latin/inter-v7-latin-200.eot");
  src: local(""),
    url("/fonts/inter-v7-latin/inter-v7-latin-200.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-200.woff2") format("woff2"),
    url("/fonts/inter-v7-latin/inter-v7-latin-200.woff") format("woff"),
    url("/fonts/inter-v7-latin/inter-v7-latin-200.ttf") format("truetype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-200.svg#Inter") format("svg");
}
/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/inter-v7-latin/inter-v7-latin-300.eot");
  src: local(""),
    url("/fonts/inter-v7-latin/inter-v7-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-300.woff2") format("woff2"),
    url("/fonts/inter-v7-latin/inter-v7-latin-300.woff") format("woff"),
    url("/fonts/inter-v7-latin/inter-v7-latin-300.ttf") format("truetype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-300.svg#Inter") format("svg");
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v7-latin/inter-v7-latin-regular.eot");
  src: local(""),
    url("/fonts/inter-v7-latin/inter-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-regular.woff2") format("woff2"),
    url("/fonts/inter-v7-latin/inter-v7-latin-regular.woff") format("woff"),
    url("/fonts/inter-v7-latin/inter-v7-latin-regular.ttf") format("truetype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-regular.svg#Inter") format("svg");
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v7-latin/inter-v7-latin-500.eot");
  src: local(""),
    url("/fonts/inter-v7-latin/inter-v7-latin-500.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-500.woff2") format("woff2"),
    url("/fonts/inter-v7-latin/inter-v7-latin-500.woff") format("woff"),
    url("/fonts/inter-v7-latin/inter-v7-latin-500.ttf") format("truetype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-500.svg#Inter") format("svg");
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v7-latin/inter-v7-latin-700.eot");
  src: local(""),
    url("/fonts/inter-v7-latin/inter-v7-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-700.woff2") format("woff2"),
    url("/fonts/inter-v7-latin/inter-v7-latin-700.woff") format("woff"),
    url("/fonts/inter-v7-latin/inter-v7-latin-700.ttf") format("truetype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-700.svg#Inter") format("svg");
}
/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter-v7-latin/inter-v7-latin-600.eot");
  src: local(""),
    url("/fonts/inter-v7-latin/inter-v7-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-600.woff2") format("woff2"),
    url("/fonts/inter-v7-latin/inter-v7-latin-600.woff") format("woff"),
    url("/fonts/inter-v7-latin/inter-v7-latin-600.ttf") format("truetype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-600.svg#Inter") format("svg");
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/inter-v7-latin/inter-v7-latin-800.eot");
  src: local(""),
    url("/fonts/inter-v7-latin/inter-v7-latin-800.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-800.woff2") format("woff2"),
    url("/fonts/inter-v7-latin/inter-v7-latin-800.woff") format("woff"),
    url("/fonts/inter-v7-latin/inter-v7-latin-800.ttf") format("truetype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-800.svg#Inter") format("svg");
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-v7-latin/inter-v7-latin-900.eot");
  src: local(""),
    url("/fonts/inter-v7-latin/inter-v7-latin-900.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-900.woff2") format("woff2"),
    url("/fonts/inter-v7-latin/inter-v7-latin-900.woff") format("woff"),
    url("/fonts/inter-v7-latin/inter-v7-latin-900.ttf") format("truetype"),
    url("/fonts/inter-v7-latin/inter-v7-latin-900.svg#Inter") format("svg");
}

/* Poppins */

/* poppins-100 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/poppins-v19-latin/poppins-v19-latin-100.eot");
  src: local(""),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-100.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-100.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-100.woff") format("woff"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-100.ttf") format("truetype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-100.svg#Poppins")
      format("svg");
}
/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/poppins-v19-latin/poppins-v19-latin-200.eot");
  src: local(""),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-200.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-200.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-200.woff") format("woff"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-200.ttf") format("truetype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-200.svg#Poppins")
      format("svg");
}
/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/poppins-v19-latin/poppins-v19-latin-300.eot");
  src: local(""),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-300.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-300.woff") format("woff"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-300.ttf") format("truetype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-300.svg#Poppins")
      format("svg");
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v19-latin/poppins-v19-latin-regular.eot");
  src: local(""),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-regular.woff2")
      format("woff2"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-regular.woff")
      format("woff"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-regular.ttf")
      format("truetype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-regular.svg#Poppins")
      format("svg");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/poppins-v19-latin/poppins-v19-latin-500.eot");
  src: local(""),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-500.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-500.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-500.woff") format("woff"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-500.ttf") format("truetype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-500.svg#Poppins")
      format("svg");
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins-v19-latin/poppins-v19-latin-600.eot");
  src: local(""),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-600.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-600.woff") format("woff"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-600.ttf") format("truetype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-600.svg#Poppins")
      format("svg");
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/poppins-v19-latin/poppins-v19-latin-700.eot");
  src: local(""),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-700.woff2") format("woff2"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-700.woff") format("woff"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-700.ttf") format("truetype"),
    url("/fonts/poppins-v19-latin/poppins-v19-latin-700.svg#Poppins")
      format("svg");
}

/* Sora */

/* sora-100 - latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/sora-v9-latin/sora-v9-latin-100.eot");
  src: local(""),
    url("/fonts/sora-v9-latin/sora-v9-latin-100.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-100.woff2") format("woff2"),
    url("/fonts/sora-v9-latin/sora-v9-latin-100.woff") format("woff"),
    url("/fonts/sora-v9-latin/sora-v9-latin-100.ttf") format("truetype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-100.svg#Sora") format("svg");
}
/* sora-200 - latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/sora-v9-latin/sora-v9-latin-200.eot");
  src: local(""),
    url("/fonts/sora-v9-latin/sora-v9-latin-200.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-200.woff2") format("woff2"),
    url("/fonts/sora-v9-latin/sora-v9-latin-200.woff") format("woff"),
    url("/fonts/sora-v9-latin/sora-v9-latin-200.ttf") format("truetype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-200.svg#Sora") format("svg");
}
/* sora-300 - latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/sora-v9-latin/sora-v9-latin-300.eot");
  src: local(""),
    url("/fonts/sora-v9-latin/sora-v9-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-300.woff2") format("woff2"),
    url("/fonts/sora-v9-latin/sora-v9-latin-300.woff") format("woff"),
    url("/fonts/sora-v9-latin/sora-v9-latin-300.ttf") format("truetype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-300.svg#Sora") format("svg");
}
/* sora-regular - latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/sora-v9-latin/sora-v9-latin-regular.eot");
  src: local(""),
    url("/fonts/sora-v9-latin/sora-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-regular.woff2") format("woff2"),
    url("/fonts/sora-v9-latin/sora-v9-latin-regular.woff") format("woff"),
    url("/fonts/sora-v9-latin/sora-v9-latin-regular.ttf") format("truetype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-regular.svg#Sora") format("svg");
}
/* sora-500 - latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/sora-v9-latin/sora-v9-latin-500.eot");
  src: local(""),
    url("/fonts/sora-v9-latin/sora-v9-latin-500.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-500.woff2") format("woff2"),
    url("/fonts/sora-v9-latin/sora-v9-latin-500.woff") format("woff"),
    url("/fonts/sora-v9-latin/sora-v9-latin-500.ttf") format("truetype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-500.svg#Sora") format("svg");
}
/* sora-600 - latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/sora-v9-latin/sora-v9-latin-600.eot");
  src: local(""),
    url("/fonts/sora-v9-latin/sora-v9-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-600.woff2") format("woff2"),
    url("/fonts/sora-v9-latin/sora-v9-latin-600.woff") format("woff"),
    url("/fonts/sora-v9-latin/sora-v9-latin-600.ttf") format("truetype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-600.svg#Sora") format("svg");
}
/* sora-700 - latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/sora-v9-latin/sora-v9-latin-700.eot");
  src: local(""),
    url("/fonts/sora-v9-latin/sora-v9-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-700.woff2") format("woff2"),
    url("/fonts/sora-v9-latin/sora-v9-latin-700.woff") format("woff"),
    url("/fonts/sora-v9-latin/sora-v9-latin-700.ttf") format("truetype"),
    url("/fonts/sora-v9-latin/sora-v9-latin-700.svg#Sora") format("svg");
}

/************************************************************/
